*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(#6247aa,#6C33A3);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

header{
    height: 100px;
    width: 100%;
    background: #6e45a3;
    position: fixed; /*stick on the top*/
    z-index: 1;
}

.topnav{
    list-style: none;
    text-align: right;
    position: relative;
    width: 100%;
}

.topnav li{
    display: inline-block;
    padding-top: 35px;
    padding-right: 50px;
}

.topnav a{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Big Shoulders Stencil Text', cursive;
    letter-spacing: 5px;
}

.topnav a:hover{
    color: #F0B0BC;
}

.headerlogo{
    height: 80px;
    width: 70px;
    padding-top: 10px;
    margin-left: 30px;
    float: left;
}

.title{
    float: left;
    color: white;
    padding: 15px 0 10px 30px;
    font-size: 50px;
    font-family: 'Lobster Two', cursive;
}


.bannerimg{
    width: 100%;
    padding-top: 100px;
    opacity: 0.5;
    z-index: -1;
}

banner h1{
    position: absolute;
    top: 70%;
    left: 50%;
    color: white; 
    transform: translate(-50%,-50%);
    font-size: 8vw;
    font-family: 'Lobster Two', cursive;
    letter-spacing: 5px;
}

@media screen and (min-width: 0px) and (max-width: 640px){  /*small screen banner*/
    banner h1{
    position: absolute;
    top: 40%;
    left: 50%;
    color: white; 
    transform: translate(-50%,-50%);
    font-size: 6vw;
    font-family: 'Lobster Two', cursive;
    }
}

@media screen and (min-width: 641px) and (max-width: 1200px){  /*small screen banner*/
    banner h1{
    position: absolute;
    top: 60%;
    left: 50%;
    color: white; 
    transform: translate(-50%,-50%);
    font-size: 7vw;
    font-family: 'Lobster Two', cursive;
    }
}

.intro{
    margin-bottom: 50px;;
}

.intro .aboutbts h2{
    text-align: center;
    padding-top: 50px;  /*space after banner*/
    padding-bottom: 50px;
    color: white;
    font-size: 60px;
    font-family: 'Lobster Two', cursive;
}

.aboutbts p{
    text-indent: 60px;
    padding-left: 30px;
    text-align: left;
    float: left;
    font-size: 25px;
    color: white;
    width: 60%; /*occupy 60% from left side*/
    font-family: 'Pragati Narrow', sans-serif;
    line-height: 150%;
}

.aboutbts span{
    color: rgb(223, 124, 178);
    font-size: 28px;
}

.intrologo{
    background-color: #AB88D8;
    float: right;
    width: 30%;
    text-align: center;
    border-radius: 40px;
}

.intrologo h2{
    margin-top: 10px;
    font-size: 30px;
}

.intrologo .logoimg{
    padding: 20px;
    height: 200px;
    width: 200px;
}

.intrologo p{
    margin-bottom: 15px;
    font-size: 20px;
}

footer{
    background-color: #6e45a3;
    height: 90px;
    left: 0;
    bottom: 0; 
    width: 100%;
    z-index: -1;
    position: relative;
}

footer ul{
    list-style: none;
    display: inline-flex;
}

footer ul li{
    text-decoration: none;
    margin: 0 30px;
}

footer ul li .fab{
    font-size: 40px;
    line-height: 55px;
    transition: .5s;
    color: white;
    padding: 5px; /*place icon in the border's center*/
}

footer ul li .fab:hover{
    color: #F0B0BC;
}

footer ul li a{
    height: 65px;
    width: 65px;
    display: block;
    background: #8956cc;
    border-radius: 50%;
    text-align: center;
    margin-top: 15px;
}

@media screen and (min-width: 0) and (max-width: 720px){
    footer{
        background-color: #6e45a3;
        height: 70px;
        left: 0;
        bottom: 0; 
        width: 100%;
        z-index: -1;
        position: relative;
    }
    footer ul li{
        text-decoration: none;
        margin: 0 15px;
    }
    footer ul li .fab{
        font-size: 30px;
        line-height: 45px;
        transition: .5s;
        color: white;
        padding: 5px; /*place icon in the border's center*/
    }
    footer ul li a{
        height: 50px;
        width: 50px;
        display: block;
        background: #8956cc;
        border-radius: 50%;
        text-align: center;
        margin-top: 12px;
    }
}

.page02content h1{
    padding-top: 150px;
    font-size: 60px;
    text-align: center;
    color: white;
    margin-bottom: 50px;
    font-family: 'Lobster Two', cursive;
}

.intromembers{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    background: plum;
    border-radius: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
}

.split{
    flex-basis: 46%;
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.split img{
    max-width: 100%;
    padding: 10px;
    margin-left: 20px;
    border-radius: 50px;
}

@media screen and (max-width: 576px){
    .split{
        flex: 1 100%;
        flex-grow: inherit;
    }
}

.intromembers h2{
    color: white;
    font-size: 40px;
    padding: 10px 0 20px 0;
}

.intromembers p{
    color: white;
    font-size: 20px;
    line-height: 200%;
}

.page03 h1{
    padding-top: 150px;
    text-align: center;
    color: white;
    font-family: 'Lobster Two', cursive;
    font-size: 50px;
}

.table{
    padding-top: 80px;
    padding-left: 10%;
    padding-bottom: 100px;
}

.schedule {
    border-collapse: collapse;
    width: 90%;
    color: white;
    font-size: 25px;
}

.schedule td, .schedule th{
    border: 3px solid rgb(245, 131, 169);
    padding: 20px;
}

.schedule tr:hover {
    background-color: rgb(218, 143, 168);
}

.schedule tr:nth-child(1){
    background-color: rgb(228, 98, 120); 
    font-size: 30px;
    font-weight: bold;
    font-family: 'Lobster Two', cursive;
}

.schedule tr:nth-child(6){
    background-color: pink;
}

.schedule tr:nth-child(10){
    background-color: pink; 
}

.shop{
    padding-top: 150px;
    margin-left: 40px;
    margin-right: 40px;
}

.shop h2{
    font-size: 60px;
    text-align: center;
    color: white;
    margin-bottom: 50px;
    font-family: 'Lobster Two', cursive;
}

.introBE{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 60px;
    color: white;
}

.BE{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}

.BE img{
    max-width: 90%;
}

.BE h1{
    padding-bottom: 20px;
}

.BE h3{
    font-size: 25px;
    padding-bottom: 5px;
}

.BE .content{
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 10px;
}

.BE p{
    text-align: center;
    font-size: 30px;
}

a.button{
    background-color: pink;
    border-radius: 30px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.lightstick{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}

.lightstick img{
    max-width: 80%;
    padding-left: 30px;
}


.lightstick h1{
    color: white;
    padding-bottom: 20px;
}

.lightstick p{
    font-size: 20px;
    color:white;
}



