*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(#9969C7,#6414B6);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

.header{
    width: 100%;
    background-image: linear-gradient(#9969C7,#6414B6);
    position: fixed; /*stick on the top*/
    z-index: 2;
    padding: 5px;
    text-align: center;
}

.headerlogo{
    height: 80px;
    width: 70px;
    padding-top: 10px;
}

.title{
    color: white;
    padding: 5px 20px 0 30px;
    font-size: 30px;
    font-family: 'Lobster Two', cursive;
}

.topnav{
    padding-top: 100px;
    padding-bottom: 20px;
    list-style: none;
    text-align: center;
    width: 100%;
    background-color: #9969C7;
    position: fixed;
    z-index: 1;
}

.topnav li{
    display: inline-block;
    padding-top: 35px;
    margin-right: 100px;
}

.topnav a{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Big Shoulders Stencil Text', cursive;
    letter-spacing: 5px;
}

.topnav a:hover{
    color: #F0B0BC;
}


.bannerimg{
    width: 100%;
    padding-top: 200px;
    opacity: 0.5;
    z-index: -1;
}

.banner h1{
    position: absolute;
    top: 90%;
    left: 50%;
    color: white; 
    transform: translate(-50%,-50%);
    font-size: 8vw;
    font-family: 'Lobster Two', cursive;
    letter-spacing: 5px;
}

.intro{
    padding-bottom: 1000px;
}


.intro .aboutbts h2{
    text-align: center;
    padding-top: 50px;  /*space after banner*/
    padding-bottom: 50px;
    color: white;
    font-size: 60px;
    font-family: 'Lobster Two', cursive;
}


.aboutbts p{
    text-indent: 60px;
    padding-left: 50px;
    float: left;
    font-size: 28px;
    color: white;
    width: 60%; /*occupy 60% from left side*/
    line-height: 150%;
    font-family: 'Acme', sans-serif;
}

.aboutbts span{
    color:  #F0B0BC;
    font-size: 28px;
    font-style: italic;
}

.intrologo{
    background-color: #B589D6;
    float: right;
    width: 30%;
    text-align: center;
    border-radius: 40px;
}

.intrologo h2{
    margin-top: 10px;
    font-size: 30px;
}

.intrologo .logoimg{
    padding: 20px;
    height: 200px;
    width: 200px;
}

.intrologo p{
    margin-bottom: 15px;
    font-size: 20px;
}
.page02content h1{
    padding-top: 300px;
    font-size: 60px;
    text-align: center;
    color: white;
    padding-bottom: 50px;
    font-family: 'Lobster Two', cursive;
}

.intromembers{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background: #B589D6;
    border-radius: 50px;
    margin-bottom: 100px;
}

.split{
    flex-basis: 46%;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.split img{
    max-width: 100%;
    padding: 10px;
    margin-left: 20px;
    border-radius: 50px;
}

.intromembers h2{
    color: white;
    font-size: 40px;
    padding: 10px 0 10px 0;
}

.intromembers p{
    color: white;
    font-size: 24px;
    line-height: 200%;
    font-family: 'Acme', sans-serif;
}

.intromembers ul{
    color: white;
    font-size: 20px;
    line-height: 200%;
    padding-left: 50px;
    font-family: 'Acme', sans-serif;
}

.page03 h1{
    padding-top: 300px;
    text-align: center;
    color: white;
    font-family: 'Lobster Two', cursive;
    font-size: 50px;
    padding-bottom: 30px;
}

.table{
    padding-top: 50px;
    padding-left: 10%;
    padding-bottom: 100px;
    overflow-x: auto;
}

.schedule {
    border-collapse: collapse;
    width: 90%;
    color: white;
    font-size: 25px;
}

.schedule td, .schedule th{
    border: 3px solid rgb(233, 130, 164);
    padding: 20px;
}

.schedule tr:hover {
    background-color: rgb(218, 143, 168);
}

.schedule tr:nth-child(1){
    background-color: rgb(240, 123, 143); 
    font-size: 30px;
    font-weight: bold;
    font-family: 'Lobster Two', cursive;
}

.schedule tr:nth-child(6){
    background-color: pink;
}

.schedule tr:nth-child(10){
    background-color: pink; 
}

.shop{
    padding: 300px 80px 0 80px;
}

.shop h2{
    font-size: 60px;
    text-align: center;
    color: white;
    margin-bottom: 50px;
    font-family: 'Lobster Two', cursive;
}

.introBE{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 30px;
    color: white;
}

.BE{
    flex-basis: 46%;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.BE img{
    max-width: 100%;
}

.BE h1{
    padding-bottom: 20px;
}

.BE h3{
    font-size: 25px;
    padding-bottom: 5px;
}

.BE .content{
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 10px;
    font-family: 'Acme', sans-serif;
}

.BE p{
    text-align: center;
    font-size: 30px;
    font-family: 'Acme', sans-serif;
}

button{
    background-color: pink;
    border-radius: 30px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.introlightstick{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 30px;
    color: white;
}

.lightstick{
    flex-basis: 46%;
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.lightstick img{
    max-width: 90%;
}

.lightstick h1{
    padding-bottom: 20px;
}

.lightstick h3{
    font-size: 25px;
    padding-bottom: 5px;
}

.lightstick .content{
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 10px;
    font-family: 'Acme', sans-serif;
}

.lightstick p{
    text-align: center;
    font-size: 30px;
    font-family: 'Acme', sans-serif;
}

.introBT21{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 100px;
    color: white;
}

.BT21{
    flex-basis: 46%;
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.BT21 img{
    max-width: 90%;
}

.BT21 h1{
    padding-bottom: 20px;
}

.BT21 p{
    font-size: 20px;
    padding-bottom: 20px;
    font-family: 'Acme', sans-serif;
    line-height: 30px;
}

.BT21 p:nth-child(3){
    text-align: center;
    font-size: 30px;
    padding: 0;
}


footer{
    background-color: #804FB2;
    height: 90px;
    left: 0;
    bottom: 0; 
    width: 100%;
    position: relative;
}

footer ul{
    list-style: none;
    display: inline-flex;
}

footer ul li{
    text-decoration: none;
    margin: 0 30px;
}

footer ul li .fa{
    font-size: 40px;
    line-height: 55px;
    transition: .5s;
    color: white;
    padding: 5px; /*place icon in the border's center*/
}

footer ul li .fa:hover{
    color: #F0B0BC;
}

footer ul li a{
    height: 65px;
    width: 65px;
    display: block;
    background: #B589D6;
    border-radius: 50%;
    text-align: center;
    margin-top: 15px;
}



@media screen and (min-width: 0px) and (max-width: 1180px){
    .topnav{
        list-style: none;
        text-align: center;
        max-width: 100%;
        position: relative;
    }
    
    .topnav li{
        display: block;
        margin: 0;
        padding: 20px 0 10px;
    }

    .topnav02{
        list-style: none;
        text-align: center;
        max-width: 100%;
        position: relative;
    }
    
    .topnav02 li{
        display: block;
        margin: 0;
        padding: 20px 0 10px;
    }

    .bannerimg{
        width: 100%;
        padding: 0;
        opacity: 0.5;
        z-index: -1;
    }
    
    .banner h1{
        top: 80%;
        left: 50%;
        color: white; 
        transform: translate(-50%,-50%);
        font-size: 6vw;
        font-family: 'Lobster Two', cursive;
        letter-spacing: 5px;
    }

    .page02content h1{
        padding-top: 50px;
    }

    .split{
        flex: 1 100%;
        flex-grow: inherit;
    }

    .intromembers h2{
        text-align: center;
    }

    .page03 h1{
        padding-top: 50px;
    }

    .shop{
        padding: 50px 30px 0 30px;
    }

    .BE{
        flex: 1 100%;
        flex-grow: inherit;
    }

    .BE img{
        max-width: 100%;
    }

    .lightstick{
        flex: 1 100%;
        flex-grow: inherit;
    }

    .lightstick img{
        max-width: 90%;
    }

    .BT21{
        flex: 1 100%;
        flex-grow: inherit;
    }

    footer{
        background-color: #6e45a3;
        height: 70px;
        left: 0;
        bottom: 0; 
        width: 100%;
        z-index: -1;
        position: relative;
    }
    footer ul li{
        text-decoration: none;
        margin: 0 15px;
    }
    footer ul li .fa{
        font-size: 30px;
        line-height: 45px;
        transition: .5s;
        color: white;
        padding: 5px; /*place icon in the border's center*/
    }
    footer ul li a{
        height: 50px;
        width: 50px;
        display: block;
        background: #8956cc;
        border-radius: 50%;
        text-align: center;
        margin-top: 12px;
    }

    .intro{
        padding-bottom:80px;
    }
    
    
    .intro .aboutbts h2{
        text-align: center;
        padding-top: 50px;  /*space after banner*/
        padding-bottom: 50px;
        color: white;
        font-size: 60px;
        font-family: 'Lobster Two', cursive;
    }
    
    
    .aboutbts p{
        text-indent: 60px;
        padding-left: 30px;
        float: none;
        font-size: 18px;
        color: white;
        width: 90%; /*occupy 60% from left side*/
        font-family: 'Pragati Narrow', sans-serif;
        line-height: 150%;
        padding-bottom: 30px;
    }
    
    .aboutbts span{
        color: rgb(0, 0, 0);
        font-size: 20px;
    }
    
    .intrologo{
        background-color: #B589D6;
        float: none;
        width: 100%;
        text-align: center;
        border-radius: 40px;
    }
    
    .intrologo h2{
        margin-top: 10px;
        font-size: 30px;
    }
    
    .intrologo .logoimg{
        padding: 20px;
        height: 200px;
        width: 200px;
    }
    
    .intrologo p{
        margin-bottom: 15px;
        font-size: 20px;
    }

}






